* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: white;
}

body, html {
  background-color: #18181B;
  width: 100vw;
  height: 100vh;
  
}

#root {
  width: 100%;
  height: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  padding: 20px;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 35px;
}

header p {
  border-bottom: 3px solid #424242;
  padding: 0 5px;
  user-select: none;
  cursor: pointer;
}

header p.window_active {
  border-bottom: 3px solid #2183C9;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}